<div class="fps-result fps-grid-item">
  <div class="fps-topic-category">
    {{#if result.topic.category.parentCategory}}
    {{category-link result.topic.category.parentCategory}}
    {{/if}}
    {{category-link result.topic.category hideParent=true}}
    {{plugin-outlet name="full-page-search-category" args=(hash result=result)}}
  </div>
  <div class="fps-topic-thumbnail">
    {{#if result.topic.thumbnails}}
    <a href={{result.url}} {{action "logClick" result.topic_id}} class="search-link">
      {{raw "list/topic-thumbnail" topic=result.topic thumbnails=result.topic.thumbnails category=result.topic.category
      opts=thumbnailOpts}}
    </a>
    {{else}}
    <a href={{result.userPath}} data-user-card={{result.username}}>
      {{avatar result imageSize="large"}}
    </a>
    {{/if}}
  </div>
  <div class='fps-topic-tags'>
    {{#if result.topic}}
    {{discourse-tags result.topic}}
    {{/if}}
  </div>
</div>